body{
    font-family: Arial, Helvetica, sans-serif;
    background: #1cb1ae ;
    text-align: center;
  

}
p{
    
    font-size: 20px;
}
#title {
    
    font-size: 60px;
    color: black
}

#wordDisplay {
   padding: 20px;
    font-size: 30px;
    letter-spacing: 15px;
}
#message {

font-size: 30px;
color: rgb(226, 43, 49);
}
#hint{
    font-size: 25px;
    text-align: center;
}
#instructions { 
    font-size: 20px;
}
#livesDisplay { 
    font-size: 25px;
    padding: 10px;
}

#restartBtn{
    font-size: 15;
}
#playerGuess {
    font-size: 25px;
}
#hangman-container {
    margin: 20px auto;
    width: 300px;
}


